.register_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.register_form {
  width: 700px;
  padding: 20px;
  background-color: rgb(228, 244, 245);
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}

.register_input_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.register_input {
  width: 320px;
}

.register_button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}